.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
  background: rgba(255, 255, 255, 0.729412);
  display: flex;
  opacity:0;
  visibility: hidden;
  &.show-loading{
    opacity: 1;
    visibility: visible;
  }
}
.loading {
  &::after {
    content: " ";
    display: block;
    width: 65px;
    height: 65px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    border-color: var(--color-primary) transparent var(--color-primary) transparent;
    animation: loading-rotate 1.2s linear infinite;
    margin: auto;
  }
  svg {
    width: 30px;
    position: absolute;
    align-items: center;
    margin: auto;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: airlane-flight 1s alternate infinite;
  }
}
@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes airlane-flight {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
