@import 'modules/_mixins';

:root {
  --color-primary: #1abc9c;
  --color-font-ready: #879395;
}
body {
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  color: var(--color-font-ready);
  font-weight: 400;
  background:#edf3f8;
}
.d-flex {
  display: flex;
}
a{
  text-decoration: none;
  color: var(--color-primary);
}

.btn-primary {
  background: var(--color-primary);
  @include cross-browser(border, none);
  @include cross-browser(box-shadow, 0px 4px #16a78a);
  &:hover{
    background: var(--color-primary);
    box-shadow: 0px 2px #16a78a;
  }
}
.text-uppecase{
  text-transform: uppercase;
}

.show-modal{
  opacity: 1 !important;
  visibility: visible !important;
  &__title{
    font-weight: bold;
    margin: 6px 0 12px;
    display: block;
  }
}

