@import '../modules/mixins';

.autocomplete{
  
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    position: absolute;
    top: 51px;
    width: 100%;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
    top: 100%;
    li{
      cursor: pointer;
      padding: 10px 20px 10px 5px;
      margin: 0;
      list-style-type: none;
      i {
        margin-right: 5px;
      }
    }
  }
}