@import '../modules/mixins';
@import '../loading.scss';

.resume-search{
  background:#fff;
  cursor:pointer;
  &__section{
    display: flex;
    flex-wrap: wrap;
    @include cross-browser(border-bottom, 1px solid #e2e5e7);
    &--info{
      padding: 15px;
      .resume-search__items{
        text-transform: uppercase;
      }
    }
    &--select{
      width: 100%;
      text-align: center;
      .resume-search__items{
        position: relative;
        padding: 15px;
        border: none;
        background:none;
        cursor: pointer;
        font-size: .9rem;
        font-weight: bold;
        color: var(--color-font-ready);
        &.active {
          &::before{
            content:'';
            position: absolute;
            width:100%;
            height: 2px;
            background:#1fc4a6;
            left: 0;
            bottom: 0;
          }
        }
      }
      button:first-child {
        border-right: 1px solid #bcc5c9;
      }
    }
  }
  &__items{
    flex: 1;
    
    i{
      color:var(--color-primary);
      font-size: .7rem;
    }
    &__content{
      margin-left: 3px;
      font-size: .8rem;
    }
    &--passengers{
      max-width: 27px;
      &__content{
      }
    }
  }
}

.container-search{
  background: #fff;
  width: 100%;
  padding: 0 15px;

  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  padding: 12px;
  .close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 17px;
    padding: 2px 4px;
    border: 1px solid #808080;
    line-height: 100%;
    z-index:8;
    cursor: pointer;
  }
}
.form-search{
  .input-ocult{
    position: relative;
    margin-bottom: 0;
    line-height: 100%;
    padding: 10px 0;
    cursor: pointer;
    pointer-events: all;
    &.show-input{
      input{
        opacity: 1;
        visibility: visible;
      }
    }
    input{
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
    }
    
  }

  > .row{
    > div{
      @include cross-browser(border-bottom, 1px solid #e2e5e7);
    }
  }
  
  .form-label{
    font-style: italic;
    font-family: 'serif';
    line-height: 100%;
    margin-bottom: 2px;
  }
  .choice-group-show{
    display: flex;
    align-items: center;
    &__name{
      font-weight: bold;
      font-size: 1.2rem;
      color:var(--color-primary);
      flex: 1;
    }
    &__detail{
      margin-left: 5px;
      flex: 1;
      &__sig-airport{
        font-weight: bold;
        display: block;
        line-height: 100%;
        font-size: .7rem;
      }
      &__airport{
        display: block;
        line-height: 100%;
        font-size: .7rem;
        text-transform: uppercase;
      }
      &__icon{
        
      }
    }
  }

  .btn{
    margin: 10px 0 14px 0;
    width:100%;
  }
  .box-passenger{
    cursor: pointer;
    .itens-passengers-choice{
      position: fixed;
      width:100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      top: 0;
      left: 0;
      z-index: 10;
      background: #fff;
      padding: 15px 0;
      &.show-box{
        opacity: 1;
        visibility: visible;
      }
      &__title{
        font-weight: bold;
        margin-top: 6px;
        display: block;
      }
      .dropdown-passengers{
        margin: 8px;
        border: 1px solid var(--color-primary);
        .passengers-info{
          margin:0;
          .form-group {
          }
          &__label{
            font-size: .7rem;
          }
        } 
      }
    }
  }
}

.react-datepicker-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  input{
    width: 117px;
  }
}