@import '../modules/mixins';

.header{
  padding-top:15px;
  padding-bottom:15px;
  background:#fff;
  @include cross-browser(border-bottom, 1px solid #e2e5e7);
  h1{
    margin: 0;
    display: flex;
    align-items: center; 
    font-size: 1.5rem;
  }
  &__menu-button{
    color:var(--color-primary);
    font-size: 1.2rem;
  }
  &__link-name{
    flex: 1;
    margin-left: 10px;
    a{
      color: var(--color-font-ready);
      font-weight: bold;
      text-decoration: none;
      &:hover{
        color:var(--color-primary);
      }
    }
  }
  .stopWatchBuy {
    display: flex;
    align-items: center;
    font-weight: bold;
    max-width: 100%;
    justify-content: flex-end;
    span{
      padding: 7px 15px;
      align-items: center;
      display: flex;
      @include cross-browser(border, 1.4px solid #f1b92d);
      @include cross-browser(border-radius, 3px);
      i{
        margin-right: 5px;
        
      }
    }
  }
}
