@import '../modules/mixins';

.resultSearch{
  margin-top: 15px;
  &__alert-price{
    display: flex;
    background: #fff;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    @include cross-browser(border-radius, 3px);
    span{
      font-size: .8rem; 
    }
  }

  .table-result{
    margin-top: 15px;
    overflow: hidden;
    @include cross-browser(border-radius, 10px 10px 0 0);
    &__thead{
      background:#879395;
      color:#fff;

      > .row {
        margin: 0;
        > div{
          font-size: .8rem;
          border-right: 1px solid #748082;
          padding: 6px;
          text-align: center;
          &:last-child{
            border-right: none;
          }
        }
      }
    }
    &__tbody{
      text-align: center;
      padding: 0 15px;
      background: #fff;
      margin-bottom: 10px;
      @include cross-browser(box-shadow, 0px 1px 5px rgba(0, 0, 0, 0.09));

      > .adjust-padding{
        > div{
          padding: 6px 0; 
        }
      }
      .price{
        line-height: 100%;
        border-top: 1px dashed #748082;
        border-bottom: 1px dashed #748082;
        padding: 9px 0;
        margin-top: 6px;
        &__airline{
          width: 100%;
          strong{
            text-decoration: line-through;
          }
        }
        .btn{
          margin: 15px 0;
        }
        &__discount{
          width:100%;
          &.miles{
            color:#f0ab00;
          }
        }
      }
      .detail{
        text-transform: uppercase;
        padding: 10px 0;
        i{
          color: var(--color-primary);
        }
      }
    }
  }
}